@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

.logo {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;
    transform: scaleX(1.175);
}