.readingTime {
    display: flex;
    gap: 16px;
    margin-top: 10px;

    .left {
        .line {
            width: 1px;
            height: 49px;
            background-color: #808080;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 2px;

        p {
            color: #8d8d8d;
            font-size: 15px;
        }
    }
}