// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

// Animations
@keyframes entry {
    0% {
        opacity: 0;
        transform: translateY(28px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.section {
    width: 100vw;
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    margin-top: -58px;
    align-items: center;
    background-image: url("../../resources/images/hero11.PNG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8.85%;
    position: relative;

    .license {
        font-size: 14px;
        margin-top: 22px;
        color: #747474;
        font-family: "Inter", sans-serif;
        animation: 2s 1 forwards entry;
    }

    &:after {
        content:"";
        background: linear-gradient(270deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 35%, rgba(255,255,255,1) 100%);
        display: block;
        height: 1px;
        width: 100vw;
        position: absolute;
        bottom: 0;
    }

    .logoContainer {
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.5);
        background: linear-gradient(white, white) padding-box,
        linear-gradient(45deg, rgba(27,27,27,1) 0%, rgba(138,138,138,1) 140%) border-box;
        border: 1px solid transparent;
        padding: 5px 14px 12px 14px;
        backdrop-filter: blur(6px);
        cursor: pointer;
        transition: 0.5s all ease-out;
        margin-bottom: 30px;
        box-shadow: -12px 0px 75px rgb(0, 68, 215), 
        12px 0px 75px rgb(86, 176, 245), inset 0 0 50px rgba(255, 255, 255, 0.3),      /* inner white */
        inset 20px 0 80px rgba(0, 68, 215, 0.7),   /* inner left magenta short */
        inset -20px 0 80px rgba(0,188,255, 0.7),  /* inner right cyan short */
        inset 20px 0 300px rgba(0, 68, 215, 0.7),  /* inner left magenta broad */
        inset -20px 0 300px rgba(0,188,255, 0.7), /* inner right cyan broad */;
        animation: 2s 1 forwards entry;

        p {
            font-size: 56px;
        }

        &:hover {
            box-shadow: -12px 0px 95px rgb(0, 68, 215), 
            12px 0px 95px rgb(86, 176, 245), inset 0 0 50px rgba(255, 255, 255, 0.3),      /* inner white */
            inset 20px 0 100px rgba(0, 68, 215, 0.7),   /* inner left magenta short */
            inset -20px 0 100px rgba(0,188,255, 0.7),  /* inner right cyan short */
            inset 20px 0 300px rgba(0, 68, 215, 0.7),  /* inner left magenta broad */
            inset -20px 0 300px rgba(0,188,255, 0.7), /* inner right cyan broad */;
        }
    }

    h1 {
        font-size: 80px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        max-width: 44%;
        min-height: 170px;
        text-align: center;
        letter-spacing: -0.035em;
        color: transparent; 
        line-height: 1.025;
        margin-bottom: 20px;
        background: rgb(185,185,185);
        background: -moz-linear-gradient(360deg, rgba(185,185,185,1) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(360deg, rgba(185,185,185,1) 0%, rgba(255,255,255,1) 100%);
        background: linear-gradient(360deg, rgba(185,185,185,1) 0%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b9b9b9",endColorstr="#ffffff",GradientType=1);
        background-clip: text;
        animation: 2s 1 forwards entry;
    }

    .slogan {
        font-size: 20px;
        font-family: 'Space Grotesk', sans-serif;
        color: #FFFFFFB2;
        max-width: 35%;
        text-align: center;
        animation: 2s 1 forwards entry;
    }

    .image {
        width: 420px;
        margin-bottom: 28px;
        animation: 2s 1 forwards entry;
    }

    .buttonContainer {
        margin-top: 28px;
        display: flex;
        gap: 12px;

        button {
            width: 200px;
            height: 48px;
            border-radius: 4px;
            font-size: 16px;
            font-family: "Inter", sans-serif;
            font-weight: 500;
            transition: 0.5s all;
            transition-delay: 0.1s;
            animation: 2s 1 forwards entry;
        }

        .brightButton {
            background-color: white;
            color: black;

            &:hover {
                box-shadow: 0px 0px 24px white;
            }
        }

        .darkButton {
            background-color: rgba(5, 5, 5, 0.92);
            border: 1px solid #969696;

            &:hover {
                border: 1px solid white;
            }
        }
    }
}

// Media Queries

@media screen and (max-width: 1730px) {
    h1.title {
        max-width: 800px;
    }
}

@media screen and (max-width: 1250px) {
    h1.title {
        max-width: 80%;
    }

    .section {
        padding-top: 12.5%;
    }
}

@media screen and (max-width: 900px) {
    h1.title {
        font-size: 50px;
        margin-bottom: -30px;
    }

    p.slogan {
        min-width: 65%;
    }

    .section {
        padding-top: 17.5%;
    }
}

@media screen and (max-width: 600px) {
    h1.title {
        margin-bottom: 10px;
        max-width: 80%;
        font-size: 45px;
        margin-bottom: -30px;
    }

    p.slogan {
        min-width: 75%;
        margin-bottom: 10px;
    }

    .section {
        padding-top: 20%;
        height: 117.5vh;
    }

    .image {
        min-width: 80%;
        max-width: 80%;
        margin-top: 10px;
    }

    .buttonContainer {
        a {
            button.brightButton,
            button.darkButton {
                width: 43.5vw;
            }
        }
    }
}

@media screen and (max-width: 535px) {
    h1.title {
        margin-bottom: 0px;
    }
}