

.audioplayer {
    * {
        margin-left: 30px;
        margin-top: -65px;
        cursor: pointer;
    }
}

.audioContainer {
    position: relative;
}

.icon {
    height: 20px;
    width: 20px;
    margin-left: 1px;
}

.playButton {
    background-color: #0077d6;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    margin-top: 25px;

    &:hover {
        background-color: rgb(16, 130, 223);
    }

    &:active {
        transform: scale(0.92);
    }
}