.container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;

    .overlay {
       position: absolute;
       height: 20px;
       width: 20px; 
       animation: hovering infinite 5s ease-in-out;
       cursor: pointer;
    }
}

.headline {
    background: linear-gradient(32deg,#ff0000,#ffbe00,#00e7ff,#ff00d1,#ff4c00);
    background-size: 300% 300%;
    animation: gradient-animation 24s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 54px;
    cursor: pointer;
    margin-bottom: -16px;
    margin-top: 20px;
    letter-spacing: -.015em;
    font-weight: 700;
    line-height: 1.26;
    transition: 0.2s ease-out all;

    &:hover {
        transform: scale(1.03);
    }

    .book {
        background: none;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: white;
        background-size: 100%;
        animation: none !important;
    }
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes hovering {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0px);
    }
}

