// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

.section {
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items: center;
    background-image: url(".//../../resources/images/manifest_bg2.png");
    background-repeat: no-repeat;
    position: relative;
    padding-left: 8.5%;
    padding-top: 105px;
    overflow-x: hidden !important;

    @media screen and (max-width: 1050px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 1000px) {
        padding-left: 0;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: 76px;
        font-family: "Inter";
        font-weight: 700;
        max-width: 900px;
        line-height: 1.1;

        @media screen and (max-width: 1500px) {
            font-size: 68px;
        }

        @media screen and (max-width: 1290px) {
            font-size: 64px;
        }

        @media screen and (max-width: 1225px) {
            font-size: 58px;
        }

        @media screen and (max-width: 1050px) {
            font-size: 50px;
            max-width: 600px;
        }

        @media screen and (max-width: 1000px) {
            align-self: center;
            justify-self: center;
            text-align: center;
            font-size: 60px;
        }

        @media screen and (max-width: 650px) {
            font-size: 48px;
            max-width: 80%;
        }

        @media screen and (max-width: 480px) {
            font-size: 40px;
            max-width: 95%;
        }
    }

    .content {
        display: flex;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
        }
        
        .left {
            display: flex;
            flex-direction: column;
            padding-top: 100px;

            @media screen and (max-width: 1050px) {
                padding-top: 60px;
            }

            @media screen and (max-width: 778px) {
                width: 75.5%;
                align-items: center;

                p,
                button,
                a {
                    width: 100% !important;
                }
            }

            @media screen and (max-width: 480px) {
                width: 89%;
                padding-top: 40px;
            }
              
            p {
                max-width: 550px;
                padding: 24px 34px 26px 34px;
                font-family: "Inter";
                backdrop-filter: blur(6px);
                background-color: rgba(255, 255, 255, 0.35);
                border-radius: 19px;

                @media screen and (max-width: 1500px) {
                    max-width: 475px;
                    font-size: 14px;
                }

                @media screen and (max-width: 1290px) {
                    font-size: 13px;
                    max-width: 350px;
                }

                @media screen and (max-width: 1050px) {
                    margin-bottom: 0px;
                }

                @media screen and (max-width: 1000px) {
                    max-width: 700px;
                    font-size: 18px;
                }

                .ufo {
                    position: absolute;
                    left: 26px;
                    top: -18px;
                }
            }

            button {
                padding: 8px 24px;
                margin-top: 16px;
                margin-bottom: 275px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                background-color: black;
                color: white;
                font-family: "Inter";
                font-weight: 500;
                overflow: hidden;
                border-radius: 10px;
                width: 20rem;
                cursor: pointer;
                z-index: 10;
                line-height: 100%;
                position: relative;
                text-decoration: none;
                z-index: 0;
                -webkit-transition: border-color .35s ease, background .35s ease;
                transition: border-color .35s ease, background .35s ease;

                .image {
                    transition: 0.25s all;
                }

                @media screen and (max-width: 1050px) {
                    margin-bottom: 120px;
                }

                @media screen and (max-width: 1000px) {
                    font-size: 18px;
                    width: 100% !important;
                    margin-bottom: 20px;
                }

                @media screen and (max-width: 778px) {

                }
            }

            button:before {
                background-color: white;
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                -webkit-transition: all .35s ease;
                transition: all .35s ease;
                border-radius: 10px;
                z-index: -1;
            }
            
            button:hover:before {
                top: 0;
            }
            
            button:hover{
              color:#000000;
              transition:0.25s;
            }
            
            button:after {
                position: absolute;
                right: 2.34375rem;
                top: 50%;
                -webkit-transform: translateY(-50%) translateX(50%);
                -ms-transform: translateY(-50%) translateX(50%);
                transform: translateY(-50%) translateX(50%);
                font-size: 1.75em;
                border-radius: 10px;
            }

            .social {
                margin-top: 8px;
                display: flex;
                border-radius: 14px;
                font-size: 15px;
                font-weight: 500;
                justify-content: center;
                padding: 7px 34px 8px 34px;
                margin-bottom: 70px;
                background-color: #ba50e7;
                cursor: pointer;

                @media screen and (max-width: 1290px) {
                    margin-bottom: 0px;
                }

                @media screen and (max-width: 1000px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 650px) {
                    margin-top: 12px;
                    margin-bottom: 0px;
                }
            }

            .disclaimer {
                font-size: 13px;
                font-family: "Inter";
                color: white;
                margin-bottom: 30px;
                background-color: transparent;
                backdrop-filter: none;
                padding-left: 0px;
                position: relative;

                @media screen and (max-width: 650px) {
                    margin-left: 12px;
                }

                span {
                    color: rgb(62, 183, 253);
                    cursor: pointer;
                }

                &::after {
                    content: "";
                    height: 2px;
                    width: 300px;
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    background-color: white;
                }
            }
        }

        .splineContainer {
            margin-top: -230px;
            margin-left: -200px;
            height: 95vh;
            width: 95vw;
            cursor: pointer;

            @media screen and (max-width: 1790px) {
                margin-left: -220px;
                margin-top: -250px;
                height: 100vh;
                width: 100vw;
            }

            @media screen and (max-width: 1710px) {
                height: 97vh;
                width: 97vw;
                margin-left: -190px;
                margin-top: -240px;
            }

            @media screen and (max-width: 1630px) {
                margin-left: -150px;
                margin-top: -220px;
                height: 91vh;
                width: 91vw;
            }

            @media screen and (max-width: 1580px) {
                height: 85vh;
                width: 85vw;
                margin-left: -100px;
                margin-top: -192px;
            }

            @media screen and (max-width: 1500px) {
                margin-left: -80px;
                margin-top: -175px;
            }

            @media screen and (max-width: 1380px) {
                margin-left: -88px;
            }

            @media screen and (max-width: 1330px) {
                height: 81vh;
                width: 81vw;
                margin-left: -70px;
            }

            @media screen and (max-width: 1290px) {
                margin-top: -140px;
                margin-left: -60px;
            }

            @media screen and (max-width: 1150px) {
                height: 76.5vh;
                width: 76.5vw;
                margin-top: -120px;
            }

            @media screen and (max-width: 1090px) {
                height: 73vh;
                margin-left: -40px;
                width: 73vw;
            }

            @media screen and (max-width: 1050px) {
                height: 79vh;
                width: 79vw;
                margin-left: -90px;
                margin-top: -108px;
            }

            @media screen and (max-width: 1000px) {
                margin-left: 0;
                height: 90vh;
                width: 90vw;
                margin-left: 60px;
                margin-top: -330px;
            }

            @media screen and (max-width: 850px) {
                height: 87.5vh;
                width: 87.5vw;
                margin-top: -270px;
            }

            @media screen and (max-width: 778px) {
                margin-top: -210px;
                margin-left: 50px;
                height: 85vh;
                width: 85vw;
            }

            @media screen and (max-width: 724px) {
                height: 110vh;
                width: 110vw;
                margin-top: -100px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: 650px) {
                display: none;
            }
        }
    }
}

.sidebar {
    position: absolute;
    left: 30px;
    top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    transition: 0.4s all ease-in-out;

    @media screen and (max-width: 1050px) {
        left: 5px;
    }

    @media screen and (max-width: 1000px) {
        top: 30%;
        position: static;
        flex-direction: row;
        gap: 16px;
        margin-bottom: 16px;
    }

    .gradient {
        height: 64vh;
        width: 5px;
        background-color: black;
        background: rgb(65,0,236);
        background: linear-gradient(0deg, rgba(65,0,236,1) 0%, rgba(168,58,255,1) 50%, rgba(183,147,255,1) 100%);
        border-radius: 8px;
        transition: 0.2s all;
        margin-bottom: 20px;
        cursor: pointer;
    
        &:hover {
            transform: scaleX(1.6);
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
        }

        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    .image {
        opacity: 0.8;
        margin-bottom: 14px;
        cursor: pointer;
    }
}

.main {
    h1 {
        font-family: "Inter", sans-serif !important;
    }

    @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
    }
}

.image,
.inter,
.social,
.disclaimer {
    font-family: "Inter", sans-serif !important;
}

.explore {
    @media screen and (max-width: 1290px) {
        width: 348px !important;
    }

    @media screen and (max-width: 650px) {
        margin-top: 6px !important;
    }
}