// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

.section {
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items: center;
    background-image: url(".//../../resources/images/manifest_bg2.jpg");
    background-repeat: no-repeat;
    position: relative;
    padding-left: 8.5%;
    padding-top: 105px;

    h1 {
        font-size: 76px;
        font-family: "Inter";
        font-weight: 700;
        max-width: 900px;
        line-height: 1.1;
    }

    .content {
        display: flex;
        
        .left {
            display: flex;
            flex-direction: column;
            padding-top: 100px;
              
            p {
                max-width: 550px;
                padding: 24px 34px 26px 34px;
                font-family: "Inter";
                backdrop-filter: blur(6px);
                background-color: rgba(255, 255, 255, 0.35);
                border-radius: 19px;

                .ufo {
                    position: absolute;
                    left: 26px;
                    top: -18px;
                }
            }

            button {
                padding: 8px 24px;
                margin-top: 16px;
                margin-bottom: 275px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                background-color: black;
                color: white;
                font-family: "Inter";
                font-weight: 500;
                overflow: hidden;
                border-radius: 10px;
                width: 20rem;
                cursor: pointer;
                z-index: 10;
                line-height: 100%;
                position: relative;
                text-decoration: none;
                z-index: 0;
                -webkit-transition: border-color .35s ease, background .35s ease;
                transition: border-color .35s ease, background .35s ease;

                .image {
                    transition: 0.25s all;
                }
            }

            button:before {
                background-color: white;
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                -webkit-transition: all .35s ease;
                transition: all .35s ease;
                border-radius: 10px;
                z-index: -1;
            }
            
            button:hover:before {
                top: 0;
            }
            
            button:hover{
              color:#000000;
              transition:0.25s;
            }
            
            button:after {
                position: absolute;
                right: 2.34375rem;
                top: 50%;
                -webkit-transform: translateY(-50%) translateX(50%);
                -ms-transform: translateY(-50%) translateX(50%);
                transform: translateY(-50%) translateX(50%);
                font-size: 1.75em;
                border-radius: 10px;
            }

            .social {
                margin-top: 8px;
                display: flex;
                border-radius: 14px;
                justify-content: center;
                padding: 7px 34px 8px 34px;
                margin-bottom: 70px;
                background-color: #ba50e7;
                cursor: pointer;
            }

            .disclaimer {
                font-size: 13px;
                font-family: "Inter";
                color: white;
                margin-bottom: 30px;
                background-color: transparent;
                backdrop-filter: none;
                padding-left: 0px;
                position: relative;

                span {
                    color: rgb(62, 183, 253);
                    cursor: pointer;
                }

                &::after {
                    content: "";
                    height: 2px;
                    width: 300px;
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    background-color: white;
                }
            }
        }

        .splineContainer {
            margin-top: -280px;
            margin-left: -304px;
            height: 105vh;
            width: 105vw;
            cursor: pointer;
        }
    }
}

.sidebar {
    position: absolute;
    left: 30px;
    top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    transition: 0.4s all ease-in-out;

    .gradient {
        height: 64vh;
        width: 5px;
        background-color: black;
        background: rgb(65,0,236);
        background: linear-gradient(0deg, rgba(65,0,236,1) 0%, rgba(168,58,255,1) 50%, rgba(183,147,255,1) 100%);
        border-radius: 8px;
        transition: 0.2s all;
        margin-bottom: 20px;
        cursor: pointer;
    
        &:hover {
            transform: scaleX(1.6);
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
        }
    }

    .image {
        opacity: 0.8;
        margin-bottom: 14px;
        cursor: pointer;
    }
}