@keyframes waveAnimation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    padding-top: 66px;

    section {
        height: 100%;

        &.firstSection {
            display: flex;
            justify-content: center;
            gap: 140px;
            height: 100vh;
            width: 98vw;

            @media screen and (max-width: 600px) {
              flex-direction: column;
            }

            .divider {
              width: 80vw;
              height: 1px;
              background-color: #1c1c1c;
              position: absolute;
              bottom: 120px;
            }

            h1 {
                font-size: 70px;
                color: white;
                font-weight: 600;
                font-family: "Inter", sans-serif;
                position: absolute;

                .grad {
                  background: linear-gradient(300deg,#35b0ff,#004aeb,#00cbff,#0020ff);
                  background-size: 240% 240%;
                  animation: gradientAnimation 5s ease infinite;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  font-weight: 700;
                }
            }

            h3 {
              position: absolute;
              margin-top: 104px;
              font-size: 24px;
              font-family: "Inter", sans-serif;
              font-weight: 300;
              color: #b8b8b8;
            }

            .info {
                margin-top: 250px;
                display: flex;
                flex-direction: column;

                .socials {
                  margin-top: 34px;
                  transform: rotateX(1.5deg) rotateY(13deg) skew(7deg);
                  margin-left: 20px;
                  display: flex;
                  gap: 26px;

                  .socialButton {
                    margin: 0 !important;
                    padding: 10px 20px !important;
                    font-size: 18px !important;
                    border-radius: 18px;
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    transition: 0.25s all;

                    &:hover {
                      transform: scale(1.05);
                    }

                    &.github {
                      &:hover {
                        background: rgb(134, 134, 134);
                      }
                    }

                    &.linkedin {
                      &:hover {
                        background: rgb(8, 86, 255);
                      }
                    }

                    &.spotify {
                      &:hover {
                        background: rgb(6, 158, 6);
                      }
                    }

                    &.discord {
                      &:hover {
                        background: rgb(78, 134, 255);
                      }
                    }

                    &.website {
                      padding: 10px !important;
                    }

                    .icon {
                      height: 30px;
                      width: 30px;
                    }

                    span {
                      text-shadow: none;
                    }

                    &:after {
                      inset: -0.5rem !important;
                    }
                  }
                }

                .textbox {
                    background-color: rgba(40, 40, 40, 0.8);
                    backdrop-filter: blur(2px);
                    border-radius: 36px;
                    font-family: "Inter", sans-serif;
                    color: white;
                    cursor: pointer;
                    max-width: 40vw;
                    max-height: 308px;
                    box-sizing: border-box;
                    padding: 18px 55px 40px 38px;
                    z-index: 3;
                    transition: 0.125s all;
    
                    h2 {
                        font-size: 32px;
                        margin-bottom: 14px;
                        font-weight: 500;
                        padding-left: 48px;

                        .hand {
                            animation-name: waveAnimation;  /* Refers to the name of your @keyframes element below */
                            animation-duration: 2.5s;        /* Change to speed up or slow down */
                            animation-iteration-count: infinite;  /* Never stop waving :) */
                            transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
                            height: 40px;
                            width: 40px;
                            position: absolute;
                            left: 34px;
                        }
                    }
    
                    p {
                        font-size: 16px;
                        color: white;
                        font-family: "Inter", sans-serif;
                        line-height: 1.35;
                        font-weight: 300;

                        span {
                            font-weight: 500;
                        }
                    }
                }
            }

            .profile {
              margin-top: 250px;

              .selfieBox {
                padding: 0;
                border-radius: 48px;

                .selfie {
                  height: 308px;
                  width: 308px;
                  border-radius: 36px;
                  cursor: pointer;
                }
              }
            }
        }
    }
}

.socials {
  margin-top: 34px;
  transform: rotateX(1.5deg) rotateY(13deg) skew(7deg);
  margin-left: 20px;
  display: flex;
  gap: 26px;

  .socialButton {
    margin: 0 !important;
    padding: 10px 20px !important;
    font-size: 18px !important;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 14px;
    transition: 0.25s all;

    &:hover {
      transform: scale(1.05);
    }

    &.github {
      &:hover {
        background: rgb(134, 134, 134);
      }
    }

    &.linkedin {
      &:hover {
        background: rgb(8, 86, 255);
      }
    }

    &.spotify {
      &:hover {
        background: rgb(6, 158, 6);
      }
    }

    &.discord {
      &:hover {
        background: rgb(78, 134, 255);
      }
    }

    &.website {
      padding: 10px !important;
    }

    .icon {
      height: 30px;
      width: 30px;
    }

    span {
      text-shadow: none;
    }

    &:after {
      inset: -0.5rem !important;
    }
  }
}

@keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  .backgroundContainer{
      position: fixed;
      top: 0;
      left:0;
      bottom: 0;
      right: 0;
  }
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
        z-index: 0;
  }
  
  .twinkling{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      
      -moz-animation:move-background 20s linear infinite;
    -ms-animation:move-background 20s linear infinite;
    -o-animation:move-background 20s linear infinite;
    -webkit-animation:move-background 20s linear infinite;
    animation:move-background 20s linear infinite;
      
}

.cred {
  transform: rotateX(1.5deg) rotateY(13deg) skew(-3deg);
  margin-left: -18px;

  .socialButton {
    padding: 12px 18px !important;
    gap: 10px !important;
    background-color: rgba(40, 40, 40, 0.8);
    transition: 0.2s all;

    &.location {
      padding-left: 14px !important;
      gap: 10px !important;

      &:hover {
        background: red;
      }
    }

    &.work {
      &:hover {
        background: red;
      }
    }

    .icon {
      height: 24px;
      width: 24px;
    }
  }
}

:root {

  }
  
  .body {
    background: hsl(224, 32%, 12%);
    background-image: conic-gradient(
      from 0deg at 50% 50%,
      blue,
      rgb(27, 135, 223),
      rgb(27, 135, 223),
      blue
    );
    background-blend-mode: multiply;
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
  }
  
  .textbox {
    --selector: hsl(204, 70%, 55%);
    --property: hsl(183, 70%, 62%);
    --punctuation: hsl(334, 7%, 95%);
    --undefined: hsl(334, 7%, 95%);
  
    font-size: 3rem;
    font-weight: bold;
    color: var(--undefined);
    background: hsl(222, 45%, 7%);
    padding: 2rem;
    border-radius: 1rem;
  
    position: relative;
  }

  .text {
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
  }
  
  .textbox > * {
    text-shadow: 0 0 0.3em currentColor;
  }
  
  .textbox::before,
  .textbox::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }
  
  /* shadow */
  .textbox::before {
    inset: 0.75rem;
    border-radius: inherit;
    background: black;
    z-index: -1;
    transform: translateZ(-50px);
    filter: blur(15px);
    opacity: 0.5;
  }
  
  /* gradient thingy */
  .textbox::after {
    z-index: -2;
    inset: -0.91rem;
    background-color: rgba(40, 40, 40, 0.5);
    transform: translateZ(-50px);
  }
  
  .selector {
    color: var(--selector);
  }
  
  .property {
    color: var(--property);
  }
  
  .punctuation {
    color: var(--punctuation);
  }
  
  .property + .punctuation {
    color: var(--property);
  }
  
  .pre-container {
    position: relative;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }


.secondSection {
  height: 90vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
  position: relative;

  .spoti {
    color: #2ebd59;
    filter: drop-shadow(0px 0px 10px #2ebd59);
    cursor: pointer;
  }

  .apple {
    color: #b84fea;
    filter: drop-shadow(0px 0px 10px #b84fea);
    cursor: pointer;
  }

  .cta1 {
    font-size: 24px;
    max-width: 850px;
    text-align: center;
    line-height: 1.1;
    margin-top: 4px;
    color: #ccc;
  }

  .cta2 {
    font-size: 28px;
    max-width: 900px;
    text-align: center;
    line-height: 1.1;
    margin-top: 170px;
    color: white;
    font-weight: 600;
  }

  .divider {
    width: 80vw;
    height: 1px;
    background-color: #1c1c1c;
    position: absolute;
    bottom: 120px;
  }

  h1 {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    color: white;
    position: relative;
    font-weight: 600;
  }

  .boxes {
    margin-top: 110px;
    display: flex;
    gap: 20px;

    .boxesLeft,
    .boxesMiddle {
      border-right: 1px solid #1c1c1c;;
      position: relative;
      padding-right: 20px;
    }

    .boxesLeft,
    .boxesMiddle,
    .boxesRight {
      display: flex;
      gap: 20px;

      .box {
        border: 0.91rem solid rgba(40, 40, 40, 0.5);
        background-color: rgba(40, 40, 40, 0.5);
        height: 210px;
        width: 210px;
        position: relative;
        border-radius: 36px;
        transition: 0.2s all;
        cursor: pointer;

        span {
          position: absolute;
          bottom: -74px;
          text-align: center;
        }

        .teaser {
          border-radius: 24px;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.thirdSection {
  position: relative;
  width: 99vw;
  height: 65vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px !important;

  h1 {
    margin-top: -10px;
    font-size: 48px;
    color: white;
    font-weight: 600;
    margin-bottom: 70px;
  }

  .questionBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    transition: 0.2s all;

    &.last {
      padding-bottom: 100px !important;
    }

    &:hover {
      transform: scale(1.01);
    }

    .answer {
      width: 37.5vw;
      padding: 20px 24px 26px 24px;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      background-color: rgba(40, 40, 40, 0.4);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      transition: 0.4s all;

      &.last {
        margin-bottom: 100px !important;
      }

      &.expanded {
        height: auto;
      }

      &.none {
        height: 0;
        display: none;
      }
    }

    .question {
      background-color: rgba(40, 40, 40, 0.85);
      border-radius: 18px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 37.5vw;
      padding-left: 20px;
      gap: 12px;
      cursor: pointer;
      transition: 0.2s all;
      
      &.expanded {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      .arrow {
        height: 25px;
        width: 25px;
        transition: 0.2s all;

        &.expanded {
          transform: rotate(180deg);
        }
      }

      p {
        font-family: "Inter", sans-serif;
        font-size: 18px;
      }
    }
  }
}